{% extends 'base.html' %}

{% load static %}



{% block body %}


<div id="wrapper">
	<!-- content-->
	<div class="content">



		<section class="parallax-section single-par" data-scrollax-parent="true">
			<div class="bg par-elem "  data-bg="{%static 'images/interiors.jpg' %}" data-scrollax="properties: { translateY: '30%' }"></div>
			<div class="overlay op7"></div>
			<div class="container">
				<div class="section-title center-align big-title">
					<h2><span>Interior designers</span></h2>
					<span class="section-separator"></span>

				</div>
			</div>
			<div class="header-sec-link">
				<a href="#sec1" class="custom-scroll-link"><i class="fal fa-angle-double-down"></i></a>
			</div>
		</section>


		<section class="gray-bg small-padding no-top-padding-sec" id="sec1">
			<div class="container">
				<div class="breadcrumbs inline-breadcrumbs fl-wrap block-breadcrumbs">
					<a href="/">Home</a><a href="{% url 'designers:designer_list' %}">Interior Designers</a>
				</div>
				<div class="mob-nav-content-btn  color2-bg show-list-wrap-search ntm fl-wrap"><i class="fal fa-filter"></i>  Filters</div>
				<div class="fl-wrap">
					<div class="row">
						<div class="col-md-4">
							<div class=" fl-wrap lws_mobile   tabs-act block_box">
								<div class="filter-sidebar-header fl-wrap" id="filters-column">
									<ul class="tabs-menu fl-wrap no-list-style">
										<li class="current" ><a href="#category-search"> <i class="fal fa-sliders-h"></i> Categories </a></li>

									</ul>
								</div>
								<div class="scrl-content filter-sidebar    fs-viscon">
									<!--tabs -->
									<div class="tabs-container fl-wrap">
										<!--tab -->
										<div class="tab">
											<div id="filters-search" class="tab-content  first-tab ">
												<!-- listsearch-input-item-->

												<!-- listsearch-input-item end-->
												<!-- listsearch-input-item-->
												{% for category in category_list %}
												<div class="fl-wrap">

													<a class="category-carousel-item fl-wrap full-height checket-cat" href="#">
														<img src="{{category.image.url}}" alt="">
														<div class="category-carousel-item-icon red-bg"><i class="fal fa-cheeseburger"></i></div>
														<div class="category-carousel-item-container">
															<div class="category-carousel-item-title"><a href="{% url 'designers:designer_by_category' category %}">{{category}}</a></div>
															<div class="category-carousel-item-counter">{{category.total_designers}}</div>
														</div>
													</a>


												</div>
												{% endfor %}
											</div>
										</div>										<!--tab -->
										<!--div class="tab">
											<div id="category-search" class="tab-content">
												<div class="fl-wrap">
													{% for style in style_list %}
													<a class="category-carousel-item fl-wrap full-height checket-cat" href="#">
														<img src="{{style.image.url}}" alt="">
														<div class="category-carousel-item-icon red-bg"><i class="fal fa-cheeseburger"></i></div>
														<div class="category-carousel-item-container">
															<div class="category-carousel-item-title">{{style}}</div>
															<div class="category-carousel-item-counter">{{style.total_designers}}</div>
														</div>
													</a>
													{% endfor %}


												</div>
											</div>
										</div-->
										<!--tab end-->
									</div>
									<!--tabs end-->
								</div>
							</div>
							<!--a class="back-tofilters color2-bg custom-scroll-link fl-wrap" href="#filters-column">Back to filters <i class="fas fa-caret-up"></i></a-->
						</div>
						<div class="col-md-8">
							<!-- list-main-wrap-header-->
							<!-- list-main-wrap-header end-->
							<!-- listing-item-container -->
							<div class="listing-item-container init-grid-items fl-wrap nocolumn-lic">
								<!-- listing-item  -->

								{% for designer in designer_list %}
								<div class="listing-item">
									<article class="geodir-category-listing fl-wrap">
										<div class="geodir-category-img">
											<!--div class="geodir-js-favorite_btn"><i class="fal fa-heart"></i><span>Save</span></div-->
											<a href="{% url 'designers:designer_detail' designer.slug %}" class="geodir-category-img-wrap fl-wrap">
												<img src="{{designer.banner_image.url}}" alt="">
											</a>
											<div class="listing-avatar"><a href="{% url 'designers:designer_detail' designer.slug %}"><img src="{{designer.profile_image.url}}" alt=""></a>
												<span class="avatar-tooltip">Added By  <strong>{{designer.name}}</strong></span>
											</div>
											<div class="geodir_status_date gsd_open">{{designer.category}}</div>
											<div class="geodir-category-opt">
										<!--div class="listing-rating-count-wrap">
											<div class="review-score">4.8</div>
											<div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
											<br>
											<div class="reviews-count">12 reviews</div>
										</div-->
									</div>
								</div>
								<div class="geodir-category-content fl-wrap title-sin_item">
									<div class="geodir-category-content-title fl-wrap">
										<div class="geodir-category-content-title-item">
											<h3 class="title-sin_map"><a href="{% url 'designers:designer_detail' designer.slug %}">{{designer.company_name}}</a><span class="verified-badge"><i class="fal fa-check"></i></span></h3>

										</br></br>
										<div class="geodir-category-location fl-wrap"><a><i class="fas fa-map-marker-alt"></i>{{designer.address}}</a></div>
									</br></br></br>
									<div class="geodir-category-location fl-wrap"><a><i class="fas fa-globe"></i>{{designer.website}}</a></div>
								</br></br>
								<div class="geodir-category-location fl-wrap"><a><i class="fas fa-map-marker-alt"></i> {{designer.experience}}  Years of experience</a></div>
							</div>
						</div>



						<div class="geodir-category-text fl-wrap">
							<p class="small-text">{{designer.short_description}}</p>
							<div class="facilities-list fl-wrap">
								<div class="facilities-list-title">Find us on : </div>
								<ul class="no-list-style">

									<li class="tolt"  data-microtip-position="top" data-tooltip="facebook"><a href="{{designer.facebook_link}}"><i class="fab fa-facebook-f"></i></li>
										<li class="tolt"  data-microtip-position="top" data-tooltip="instagram"><a href="{{designer.instagram_link}}"><i class="fab fa-instagram"></i></li>
											<li class="tolt"  data-microtip-position="top" data-tooltip="youtube"><a href="{{designer.youtube_link}}"><i class="fab fa-youtube"></i></li>
											
												</ul>
											</div>
										</div>
										<div class="geodir-category-footer fl-wrap">
											<a class="listing-item-category-wrap">
												<div class="listing-item-category red-bg"><i class="fal fa-house"></i></div>
												<span>Budget Range &nbsp : {{designer.min_budget}} -- &nbsp{{designer.max_budget}} lacs</span>
											</a>
											<div class="geodir-opt-list">
												<ul class="no-list-style">
													<li><a href="#" class="show_gcc"><i class="fal fa-envelope"></i><span class="geodir-opt-tooltip">Contact Info</span></a></li>
												</ul>
											</div>




											<div class="geodir-category_contacts">
												<div class="close_gcc"><i class="fal fa-times-circle"></i></div>
												<ul class="no-list-style">
													<li><span><i class="fal fa-phone"></i> Call : </span><a href="#">+91 {{designer.phone_number}}</a></li>
													<li><span><i class="fal fa-envelope"></i> Write : </span><a href="#">{{designer.email}}</a></li>
												</ul>
											</div>
										</div>
									</div>
								</article>
							</div>

							{% endfor %}
							<!-- listing-item end -->
							<!-- listing-item  -->

							<!-- listing-item end -->
							<div class="pagination fwmpag">
                                {% if designer_list.has_other_pages %}


                                {% if designer_list.has_previous %}
                                <a href="?page={{ designer_list.previous_page_number }}"> class=prevposts-link"><i class="fas fa-caret-left">
                                </i><span>Prev</span></a>
                                {% else %}
                                <a class = "disbled"></a>
                                {% endif %}


                                {% for pages in designer_list.paginator.page_range %}
                                {% if designer_list.number == pages %}
                                <a href="#">{{pages}}</a>
                                {% else %}
                                <a href="?page={{pages}}">{{pages}}</a>
                                {% endif %}

                                {% endfor %}



                                {% if designer_list.has_next %}
                                <a href ="?page={{ designer_list.next_page_number }}" class="nextposts-link"><span>Next</span><i class="fas fa-caret-right"></i></a>
                                <a class = "disbled"></a>
                                {% endif %}

                                {% endif %}
                            </div>
						</div>
						<!-- listing-item-container end -->
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
</div>



{% endblock body %}
