{% extends 'base.html' %}

{% load static %}

{% load bootstrap4 %}

{% block body %}
            <!-- header end-->
            <!-- wrapper-->
            <div id="wrapper">
                  <!-- content-->
                  <div class="content">
                      <!--  section  -->
                      <section class="parallax-section dashboard-header-sec gradient-bg" data-scrollax-parent="true">
                          <div class="container">
                              <div class="dashboard-breadcrumbs breadcrumbs"><a href="/">Home</a><a href="{% url 'webapp:dprofile' %}">Dashboard</a></div>
                              <!--Tariff Plan menu-->


                              <!--Tariff Plan menu end-->
                              <div class="dashboard-header_conatiner fl-wrap dashboard-header_title">
                                  <h1>Welcome  : <span>{{user.agent.company_name}}</span></h1>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="dashboard-header fl-wrap">
                              <div class="container">
                                  <div class="dashboard-header_conatiner fl-wrap">
                                      <div class="dashboard-header-avatar">
                                          <img src="{{user.agent.company_logo.url}}" alt="">

                                      </div>
                                      <div class="dashboard-header-stats-wrap">
                                          <div class="dashboard-header-stats">
                                              <div class="swiper-container">
                                                  <div class="swiper-wrapper">
                                                      <!--  dashboard-header-stats-item -->
                                                      <div class="swiper-slide">
                                                          <div class="dashboard-header-stats-item">
                                                              <i class="fal fa-map-marked"></i>
                                                              Properties
                                                              <span>00</span>
                                                          </div>
                                                      </div>
                                                      <!--  dashboard-header-stats-item end -->
                                                      <!--  dashboard-header-stats-item -->

                                                      <!--  dashboard-header-stats-item end -->
                                                      <!--  dashboard-header-stats-item -->
                                                      <div class="swiper-slide">
                                                          <div class="dashboard-header-stats-item">
                                                              <i class="fal fa-comments-alt"></i>
                                                             products
                                                              <span>00</span>
                                                          </div>
                                                      </div>
                                                      <!--  dashboard-header-stats-item end -->
                                                      <!--  dashboard-header-stats-item -->
                                                      <div class="swiper-slide">
                                                          <div class="dashboard-header-stats-item">
                                                              <i class="fal fa-heart"></i>
                                                              Profile creation status
                                                              <span>{{user.agent.profile_status}}</span>
                                                          </div>
                                                      </div>
                                                      <!--  dashboard-header-stats-item end -->
                                                  </div>
                                              </div>
                                          </div>
                                          <!--  dashboard-header-stats  end -->
                                          <div class="dhs-controls">
                                              <div class="dhs dhs-prev"><i class="fal fa-angle-left"></i></div>
                                              <div class="dhs dhs-next"><i class="fal fa-angle-right"></i></div>
                                          </div>
                                      </div>
                                      <!--  dashboard-header-stats-wrap end -->

                                  </div>
                              </div>
                          </div>
                        <div class="gradient-bg-figure" style="right:-30px;top:10px;"></div>
                        <div class="gradient-bg-figure" style="left:-20px;bottom:30px;"></div>
                        <div class="circle-wrap" style="left:120px;bottom:120px;" data-scrollax="properties: { translateY: '-200px' }">
                            <div class="circle_bg-bal circle_bg-bal_small"></div>
                        </div>
                        <div class="circle-wrap" style="right:420px;bottom:-70px;" data-scrollax="properties: { translateY: '150px' }">
                            <div class="circle_bg-bal circle_bg-bal_big"></div>
                        </div>
                        <div class="circle-wrap" style="left:420px;top:-70px;" data-scrollax="properties: { translateY: '100px' }">
                            <div class="circle_bg-bal circle_bg-bal_big"></div>
                        </div>
                        <div class="circle-wrap" style="left:40%;bottom:-70px;"  >
                            <div class="circle_bg-bal circle_bg-bal_middle"></div>
                        </div>
                        <div class="circle-wrap" style="right:40%;top:-10px;"  >
                            <div class="circle_bg-bal circle_bg-bal_versmall" data-scrollax="properties: { translateY: '-350px' }"></div>
                        </div>
                        <div class="circle-wrap" style="right:55%;top:90px;"  >
                            <div class="circle_bg-bal circle_bg-bal_versmall" data-scrollax="properties: { translateY: '-350px' }"></div>
                        </div>
                    </section>
                    <!--  section  end-->
                    <!--  section  -->
                    <section class="gray-bg main-dashboard-sec" id="sec1">
                        <div class="container">
                            <!--  dashboard-menu-->
                            <div class="col-md-3">
                                <div class="mob-nav-content-btn color2-bg init-dsmen fl-wrap"><i class="fal fa-bars"></i> Dashboard menu</div>
                                <div class="clearfix"></div>
                                <div class="fixed-bar fl-wrap" id="dash_menu">
                                    <div class="user-profile-menu-wrap fl-wrap block_box">
                                        <!-- user-profile-menu-->
                                        <div class="user-profile-menu">
                                            <h3>Main</h3>

                                              <ul class="no-list-style">
                                                <ul class="no-list-style">
                                                  <li><a href="{% url 'webapp:agprofile' %}"><i class="fal fa-chart-line"></i>Dashboard</a></li>
                                                  <li><a href="{% url 'webapp:agupdate' user.id %}"><i class="fal fa-user-edit"></i> Account settings</a></li>
                                                  <li><a href="{% url 'webapp:agenquiry' %}"><i class="fal fa-envelope"></i> Enquiries</a></li>
                                                  <li><a href="{% url 'webapp:agaddprop' %}"> <i class="fal fa-calendar-check"></i> Add Properties </a></li>
                                                  <li><a href="{% url 'webapp:agprop' %}" class="user-profile-act"> <i class="fal fa-calendar-check"></i> Your Properties </a></li>
                                                  




                                                </ul>






                                        </div>
                                        <!-- user-profile-menu end-->
                                        <!-- user-profile-menu-->

                                        <!-- user-profile-menu end-->

                                    </div>
                                </div>
                                <a class="back-tofilters color2-bg custom-scroll-link fl-wrap" href="#dash_menu">Back to Menu<i class="fas fa-caret-up"></i></a>
                                <div class="clearfix"></div>
                            </div>
                            <!-- dashboard-menu  end-->
                            <!-- dashboard content-->
                            <div class="col-md-9">
                                <div class="dashboard-title   fl-wrap">
                                    <h3>Enquiries</h3>
                                </div>
                                <!-- profile-edit-container-->
                                <div class="profile-edit-container fl-wrap block_box">
                                    <!-- booking-list-->
                                    <div class="booking-list">
                                        <div class="booking-list-message">
                                            <!--div class="booking-list-contr">
                                                <a href="#" class="green-bg tolt" data-microtip-position="left" data-tooltip="Approve"><i class="fal fa-check"></i></a>
                                                <a href="#" class="color-bg tolt" data-microtip-position="left" data-tooltip="Cancel"><i class="fal fa-trash"></i></a>
                                            </div-->


                                            <div class="booking-list-message-text">
                                              {% for agproperty in agproperty_list %}
                                                <h4>Property name: - <span>{{agproperty.property_name}}</span></h4>

                                                <div class="booking-details fl-wrap">
                                                    <span class="booking-title">Property Category :</span> :
                                                    <span class="booking-text">{{agproperty.property_category}}</span>
                                                </div>
                                                <div class="booking-details fl-wrap">
                                                    <span class="booking-title">Property Type :</span>
                                                    <span class="booking-text">{{agproperty.property_type}}</span>
                                                </div>
                                                <div class="booking-details fl-wrap">
                                                    <span class="booking-title">Property Location :</span>
                                                    <span class="booking-text">{{agproperty.property_location}}</span>
                                                </div>

                                                <div class="booking-details fl-wrap">
                                                    <span class="booking-title">Property Image :</span>
                                                    <span class="booking-text">{{agproperty.upload_property_image}}</span>
                                                </div>

                                                <div class="booking-details fl-wrap">
                                                    <span class="booking-title">Description :</span>
                                                    <span class="booking-text">{{agproperty.Description}}</span>
                                                </div>


                                                <div class="booking-details fl-wrap">
                                                    <span class="booking-title">Uploaded on :</span>
                                                    <span class="booking-text">{{agproperty.uploaded}}</span>
                                                </div>





                                                <span class="fw-separator"></span>
                                              {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- dashboard-list end-->
                                </div>
                                <!-- profile-edit-container end-->
                                <!-- profile-edit-container-->

                                <!-- profile-edit-container end-->
                                <div class="pagination">
                                  {% if agproperty_list.has_other_pages %}


                              {% if agproperty_list.has_previous %}
                              <a href="?page={{ agproperty_list.previous_page_number }}"> class=prevposts-link"><i class="fas fa-caret-left">
                              </i><span>Prev</span></a>
                              {% else %}
                              <a class = "disbled"></a>
                              {% endif %}


                              {% for pages in agproperty_list.paginator.page_range %}
                              {% if agproperty_list.number == pages %}
                              <a href="#">{{pages}}</a>
                              {% else %}
                              <a href="?page={{pages}}">{{pages}}</a>
                              {% endif %}

                              {% endfor %}



                              {% if enquiry_list.has_next %}
                              <a href ="?page={{ agproperty_list.next_page_number }}" class="nextposts-link"><span>Next</span><i class="fas fa-caret-right"></i></a>
                              <a class = "disbled"></a>
                              {% endif %}

                              {% endif %}
                                </div>
                            </div>
                            <!-- dashboard content end-->
                        </div>
                    </section>
                    <!--  section  end-->
                    <div class="limit-box fl-wrap"></div>
                </div>
                <!--content end-->
            </div>
            <!-- wrapper end-->
            <!--footer -->
{% endblock body %}
